In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('C:\\Users\\hario\\OneDrive\\Desktop\\AQI\\Data\\Real-Data\\Real_combine.csv')

In [9]:
df

        T    TM    Tm     SLP     H   VV     V    VM      PM 2.5
0     7.4   9.8   4.8  1017.6  93.0  0.5   4.3   9.4  219.720833
1     7.8  12.7   4.4  1018.5  87.0  0.6   4.4  11.1  182.187500
2     6.7  13.4   2.4  1019.4  82.0  0.6   4.8  11.1  154.037500
3     8.6  15.5   3.3  1018.7  72.0  0.8   8.1  20.6  223.208333
4    12.4  20.9   4.4  1017.3  61.0  1.3   8.7  22.2  200.645833
..    ...   ...   ...     ...   ...  ...   ...   ...         ...
726  18.1  24.0  11.2  1015.4  56.0  1.8  15.9  25.9  288.416667
727  17.8  25.0  10.7  1015.8  54.0  2.3   9.4  22.2  256.833333
728  13.9  24.5  11.4  1015.0  95.0  0.6   8.7  14.8  169.000000
729  16.3  23.0   9.8  1016.9  78.0  1.1   7.4  16.5  186.041667
730  16.3  23.4   9.0  1017.3  68.0  1.3   7.8  18.3  185.583333

[731 rows x 9 columns]